In [34]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress

file_path = "data_unclean/2017.csv"
df_cleaned = pd.read_csv(file_path)
df_cleaned

,Unnamed: 0,Unnamed: 1,year,rnd,ovl,phase,player name,draft team,pos,bonus,...,source,school,dr reg,pos.1,ht,wt,ba,th,Born,place
0,0,NaN,2017.0,1.0,1.0,June-Reg,Royce Lewis,Minnesota Twins,ss,6.73,...,HS,"JSerra Catholic (San Juan Capistrano,CA)",CA,ss,6-2,200.0,R,R,1999-06-05,"Aliso Viejo,CA"
1,1,NaN,2017.0,1.0,2.0,June-Reg,Hunter Greene,Cincinnati Reds,p,7.23,...,HS,"Notre Dame (Sherman Oaks,CA)",CA,p,6-5,242.0,R,R,1999-08-06,"Los Angeles,CA"
2,2,NaN,2017.0,1.0,3.0,June-Reg,MacKenzie Gore,San Diego Padres,p,6.70,...,HS,"Whiteville (Whiteville,NC)",NC,p,6-2,192.0,L,L,1999-02-24,"Wilmington,NC"
3,3,NaN,2017.0,1.0,4.0,June-Reg,Brendan McKay,Tampa Bay Rays,1b,7.01,...,College,Louisville,KY,p,6-2,220.0,L,L,1995-12-18,"Darlington,PA"
4,4,NaN,2017.0,1.0,5.0,June-Reg,Kyle Wright,Atlanta Braves,p,7.00,...,College,Vanderbilt,TN,p,6-4,215.0,R,R,1995-10-02,"Huntsville,AL"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319,25,NaN,2017.0,10.0,312.0,June-Reg,Jesse Berardi,Cleveland Baseball Team,ss,0.13,...,College,St. John's,NY,ss,5-10,185.0,L,R,1996-01-13,"Commack,NY"
320,26,NaN,2017.0,10.0,313.0,June-Reg,Trey Turner,Washington Nationals,p,0.10,...,College,Missouri State,MO,p,6-1,195.0,R,R,1996-06-15,"Fort Scott,KS"
321,27,NaN,2017.0,10.0,314.0,June-Reg,John King,Texas Rangers,p,0.01,...,College,Houston,TX,p,6-2,215.0,L,L,1994-09-14,"Laredo,TX"
322,28,NaN,2017.0,10.0,315.0,June-Reg,Brian Glowicki,Chicago Cubs,p,0.01,...,College,Minnesota,MN,p,6-0,180.0,R,R,1994-10-19,"Downers Grove,IL"
323,29,29 record(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df = pd.read_csv("data_unclean/2017.csv")

In [53]:
selected_columns = ['player name', 'school', 'source', 'hilvl']
df_cleaned = df[selected_columns]

In [54]:
df_cleaned.columns = ['Player Name', 'School', 'Source', 'High Level']

In [55]:
df_cleaned = df_cleaned.dropna(subset=['Player Name', 'School', 'Source', 'High Level'])

In [56]:
df_cleaned = df_cleaned.reset_index(drop=True)

In [57]:
print(df_cleaned)

        Player Name                                    School   Source  \
0       Royce Lewis  JSerra Catholic (San Juan Capistrano,CA)       HS
1     Hunter Greene              Notre Dame (Sherman Oaks,CA)       HS
2    MacKenzie Gore                Whiteville (Whiteville,NC)       HS
3     Brendan McKay                                Louisville  College
4       Kyle Wright                                Vanderbilt  College
..              ...                                       ...      ...
309     Jordan Wren                          Georgia Southern  College
310   Jesse Berardi                                St. John's  College
311     Trey Turner                            Missouri State  College
312       John King                                   Houston  College
313  Brian Glowicki                                 Minnesota  College

    High Level
0          MLB
1          MLB
2          MLB
3          MLB
4          MLB
..         ...
309         A+
310          A
311          A
312        MLB
313         AA

[314 rows x 4 columns]